@model WishList.Models.Item
@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h3>Add item to wishlist</h3>

<form asp-action="create">
    <input asp-for="Description" />
    <span asp-validation-for="Description" ></span>
    <button type="submit">Add Item</button>
</form>